body{
    margin:0px;
    padding: 0px
}

.canvas-container{
    height: 100vh;
    width:  100vw;
}

.canvas-container canvas{
    border : 1px solid black;
}


.typed-font-size{
    font-size: 40;
}
